:root{

/* background color */
--primary-background-color: #131313;
--secondary-background-color: #252525;
--active-background-color: #3f3f3f;

/* text color */
--text-color: #FFFFFF;
--text-color-secondary: #CCCCCC;

/* paddings */
--padding-small: 8px;
--padding-medium: 16px;
--padding-large: 24px;

/* margins */
--margin-small: 8px;
--margin-medium: 16px;  
--margin-large: 24px;

/* gap */
--gap-small: 8px;
--gap-medium: 16px; 
--gap-large: 24px;

}